# Compiled
*.elc

# Packaging
.cask

ac-comphist*
auto-save-list

\#*\#
recentf*
OmniSharpServer

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

deepin-emacs
eshell
tramp